h1{
  color:red;
}
.head1{
  background-color: yellow;
}

.c_border{  
  border: 5px solid blue

}

#head1{ 
  font-size: 14px;
}

#h2{
  color:blue;
}

.h2{
  color:green;
}
h2{
  color:red;
}

.box{

  width: 200px;
  height: 200px;
  background-color: yellow;
}

.red{
  width: 200px;
  height: 200px;
   background-color:red;
}

.green{
  width: 200px;
  height: 200px;
   background-color:green;
  }